.navbar links {
	padding: 10px;
	color: red;
}

.navbar-header {
	font-family: 'Cuprum', sans-serif;
	font-style: italic;
	font-size: 50px;
	padding-left: 20px;
	color: white;
	display: inline;
	float: left;
}
p {
	font-family: 'Lato', sans-serif;
}

.image {
	margin: 5px 5px 5px 5px;
}

.main-menu {
	float: right;
}

body {
  background: url('img/old_spice_.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
