<div class="container">
	<div id="navbar">
	  <nav class="navbar navbar-inverse" role="navigation">
    	<h1>Gossip Juice</h1>

    	<ul class="nav navbar-nav">
	      <li>{{#link-to 'home'}}News{{/link-to}}</li>
	      <li>{{#link-to 'home'}}Entertainment{{/link-to}}</li>
	      <li>{{#link-to 'home'}}Fashion & Beauty{{/link-to}}</li>
	      <li>{{#link-to 'home'}}Lifestyle{{/link-to}}</li>
	      <li>{{#link-to 'home'}}Books{{/link-to}}</li>
	    </ul>
  	</nav>
	</div>

  {{outlet}}

</div>
