<div class="container">
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="navbar-header">
			<h1>Gossip Juice</h1>
		</div>

		<ul class="nav navbar-nav">
			<li>{{#link-to 'home'}}News{{/link-to}}</li>
			<li>{{#link-to 'home'}}Entertainment{{/link-to}}</li>
			<li>{{#link-to 'home'}}Fashion & Beauty{{/link-to}}</li>
			<li>{{#link-to 'home'}}Lifestyle{{/link-to}}</li>
			<li>{{#link-to 'home'}}Books{{/link-to}}</li>
		</ul>
		<div class="header-social-media">
		 <img src="../img/social-img.png" alt="social media icons" width=138 height=41 {{action 'hoverMenu'}}>
		</div>
	</nav>

	{{outlet}}

</div>
