<div class='row'>
  <div class="col-md-12 carousel">

  </div>
</div>

<div class="row">
  <div class="col-md-6 preview">
		<div class="image">
    {{#link-to 'royal-farce'}}<img src="../img/RoyalDeath.jpeg" alt="Picture of family from the film 'The Royals' dressed for funeral" width=500 height=329 /><p>A funeral never looked so good...</p>{{/link-to}}
		</div>
  </div>
  <div class="col-md-6 preview">
		<div class="image">
    {{#link-to 'bieber-loves-rogen'}}<img src="../img/bieber_rogen.jpg" alt="Photo of Justin Bieber and Seth Rogen" width=500 height=329 /><p>The most unlikely new couple in hollywood...</p>{{/link-to}}
  	</div>
	</div>
</div>

<div class="row">
  <div class="col-md-6 preview">
		<div class="image">
    {{#link-to 'black-is-back'}}<img src="../img/ridiculousfashion.jpg" alt="Gothic woman wearing black outfit" width=500 height=329 /><p>Black is the new black...</p>{{/link-to}}
  	</div>
	</div>

  <div class="col-md-6 preview">
		<div class="image">
    {{#link-to 'cat-sabotage'}}<img src="../img/cat-sabotage.jpg" alt="Cat showing teeth on the floor" width=500 height=329 /><p>Cats are closer than ever to ruling the world!</p>{{/link-to}}
  	</div>
	</div>
</div>
