<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="../img/gossip1.jpg" alt="...">
      <div class="carousel-caption">
          <h3>We all wanted to believe, that Hogwart's is real...</h3>
      </div>
    </div>
    <div class="item">
      <img src="../img/happy.jpg" alt="...">
      <div class="carousel-caption">
          <h3>Learn how to jump this high even on sand!</h3>
      </div>
    </div>
    <div class="item">
      <img src="../img/hairbegone.jpg" alt="...">
      <div class="carousel-caption">
          <h3>Man buns may finally be making a fashion exit...</h3>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<!-- Carousel -->

<!--News feature -->
<div class="row">
  <div class="col-md-6 preview">
		<div class="image">
    {{#link-to 'royal-farce'}}<img src="../img/RoyalDeath.jpeg" alt="Picture of family from the film 'The Royals' dressed for funeral" width=500 height=329 /><p>A funeral never looked so good...</p>{{/link-to}}
		</div>
  </div>
  <div class="col-md-6 preview">
		<div class="image">
    {{#link-to 'bieber-loves-rogen'}}<img src="../img/bieber_rogen.jpg" alt="Photo of Justin Bieber and Seth Rogen" width=500 height=329 /><p>The most unlikely new couple in hollywood...</p>{{/link-to}}
  	</div>
	</div>
</div>

<div class="row">
  <div class="col-md-6 preview">
		<div class="image">
    {{#link-to 'black-is-back'}}<img src="../img/ridiculousfashion.jpg" alt="Gothic woman wearing black outfit" width=500 height=329 /><p>Black is the new black...</p>{{/link-to}}
  	</div>
	</div>

  <div class="col-md-6 preview">
		<div class="image">
    {{#link-to 'cat-sabotage'}}<img src="../img/cat-sabotage.jpg" alt="Cat showing teeth on the floor" width=500 height=329 /><p>Cats are closer than ever to ruling the world!</p>{{/link-to}}
  	</div>
	</div>
</div>
